@model ForumApp.Models.Forum.ForumIndexModel

<h2>Forums</h2>

<table class="table table-hover" id="forumIndexTable">
    <tbody>
        @foreach (var forum in Model.ForumList)
        {
            <tr>
                <td>
                    <div class="forumLogo"
                         style="background-image:url(@forum.ImageUrl);">
                    </div>
                    <div class="postTitle">
                        <a asp-controller="Forum"
                           asp-action="Topic"
                           asp-route-forumId="@forum.Id">
                            @forum.Title
                        </a>
                    </div>
                </td>
                <td>
                    @forum.Description
                </td>
            </tr>
        }
    </tbody>
</table>
